<div class="adminLogin">
    <div class="shadow-lg p-5 text-success text-center"
      style="background-color: white; border-radius: 10px">
      <h2 class="alogin">Admin Login</h2>
      <form (ngSubmit)="adminLogin()">
        <h5 *ngIf="errorMessage != ''" style="color: red">{{ errorMessage }}</h5>
        <h6 class="text-center text-lg text-dark ">Email Id</h6>
        <input [(ngModel)]="adminLoginData.emailId" name="email" type="email" id="defaultForm-username"
          class="form-control validate" /><br />
        <h6 class="text-center text-dark">Password</h6>
        <input [(ngModel)]="adminLoginData.password" name="password" type="password" id="defaultForm-pass"
          class="form-control validate" /><br />
        <button type="submit" class="btn btn-info">Login</button>
      </form>
    </div>
  </div>